html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  font-weight: 300;
 align-items: center;
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  display: flex;
  height: 100vh;
  justify-content: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.critmachine {
  display: inline-grid;
    box-shadow: 0px 1px 3px 1px rgb(254, 200, 0, 0.8);
  background-image: linear-gradient(black, orange, rgb(254, 200, 0, 0.8), white);
border: 5px double black;
    border-radius: 10px;
  padding: 3px;
  gap: 5px;
}
/*screen*/

.sscreen {
  display: block;
  position: relative;
    font-weight: 700;
    background-color: #252525;
  width: 422px;
  border-radius: 10px;
  box-shadow: 0px -2px 3px 1px rgb(254, 200, 0, 0.8);
}

.selscreen {
  display: block;
  position: relative;
  bottom: 10px;
  font-size: 1.5em;
  text-align: center;
  font-family: Trebuchet MS;
    padding: 5px;
  color: rgb(254, 200, 0, 0.8);
    font-weight: 700;
    background-color: #252525;
  width: 412px;
}

#info {
    display: block;
  width: 412px;
  height: 250px;
  padding: 5px;
  font-size: 1.3em;
  text-align: center;
  font-family: Trebuchet MS;
  border-radius: 5px;
 color: #fff;
    font-weight: 700;
    background-color: #252525;
  width: 412px;
}

#diceroll {
   display: block;
  position: relative;
  left: 170px;
  top: -12px;
    font-size: 1.2em;
   text-align: center;
  cursor: pointer;
  color: black;
  font-family: papyrus;
  font-weight: 900;
  border-radius: 20%;
  padding: 10px;
  box-shadow: 0px 1px 3px 1px rgb(254, 200, 0, 0.8);
}

#diceroll:hover {
  background-image: linear-gradient(to top, black, darkgreen, white);
  color: yellow;
   box-shadow: 0px 3px 3px 1px yellow;
}
.interrup {
  text-align: center;
}
#inpnumb {
    display: block;
  position: relative;
  top: -20px;
  left: 158px;
    width: 2em;
  font-size: 3em;
   text-align: center;
   color: #fff;
    font-weight: 700;
    background-color: #252525;
  box-shadow: 0px 1px 3px 1px rgb(254, 200, 0, 0.8);
  font-family: Trebuchet MS;
  border: 2px double orange;
}

.myTable {
  display: none;
}

/*crit-pif selector*/
.sselector {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 5px 1px black;
  padding: 5px;
   background-image: linear-gradient(
    to right,
    lightgrey,
    white,
    lightgrey,
    grey,
    lightgrey
  );
  border-radius: 2%;
  height: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  border: 2px double black;
}
#critpifsel {
  background-image: linear-gradient(to right, black, darkgrey, grey, grey, white);
}
.critint {
  background-color: white;
}
.cpswitch {
  position: relative;
  border-radius: 10%;
  width: 200px;
  height: 20px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.critpif {
  display: none;
}
.led1,
.led2 {
  background: rgb(220, 175, 31);
  border: 0;
  border-radius: 3%;
  font-weight: 900;
  text-align: center;
  font-family: papyrus;
  font-size: 110%;
  width: 100px;
  box-shadow: 1px 1px 2px 2px black;
}
.cpslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 22px;
  bottom: 0;
  width: 150px;
  border-radius: 10%;
  background-image: linear-gradient( to right, black, grey, darkgreen);
  border: 2px solid rgb(128, 0, 0, 0.8);
  box-shadow: 0px 5px 2px 1px inset black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cpslider:before {
  position: absolute;
  content: "";
  left: -2px;
  top: -8px;
  height: 30px;
  width: 30px;
  right: 160px;
  border-radius: 40%;
  border: 0;
  box-shadow: 0px 5px 3px 2px rgb(35, 34, 34, 0.8);
  background-image: linear-gradient(
    to right,
    lightgrey,
    white,
    lightgrey,
    grey,
    lightgrey
  );
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.critpif:checked + .cpslider {
  background-image: linear-gradient(to left, black, grey, brown);
}

.critpif:focus + .cpslider {
  box-shadow: 0 0 1px #2196f3;
}

.critpif:checked + .cpslider:before {
    background-image: linear-gradient(
    to right,
    lightgrey,
    white,
    lightgrey,
    grey,
    lightgrey
  );
  -webkit-transform: translateX(125px);
  -ms-transform: translateX(125px);
  transform: translateX(125px);
}
.crit-selec {
  font-size: 1.2em;
  height: 260px;
    width: 412px;
  padding: 5px;
 border-radius: 2%;
  border: 1px solid black;
  box-shadow: 0px 2px 2px 1px black;
    }

.pifia {
  display: none;
  font-size: 1em;
  height: 260px;
  width: 412px;
  padding: 5px;
  background-image: linear-gradient(black, brown,white);
 border-radius: 2%;
  border: 1px solid black;
  box-shadow: 0px 2px 2px 1px black;
    }

/*crit-type*/
.cont {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 1.3em;
    box-shadow: 0px 0px 5px 1px black;
    border: 2px groove black;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*pif-type*/
.pif-row {
  display: inline-grid;
  grid-template-columns: 200px;
  grid-template-rows: auto;
  box-shadow: 0px 0px 5px 1px black;
    border: 1px groove black;
      grid-column: 1/2;
  grid-row: 2/3;
}
.pif-row2 {
  display: inline-grid;
  grid-template-columns: 200px;
  grid-template-rows: auto;
  box-shadow: 0px 0px 5px 1px black;
    border: 1px groove black;
    grid-column: 1/2;
  grid-row: 3/4;
}
.pif-row3 {
  display: inline-grid;
  grid-template-columns: 200px;
  grid-template-rows: auto;
  box-shadow: 0px 0px 5px 1px black;
    border: 1px groove black;
  grid-column: 2/3;
  grid-row: 2/4;
}
.led3 {
  background: rgb(220, 175, 31);
  border: 0;
  border-radius: 3%;
  font-weight: 900;
  text-align: center;
  font-family: papyrus;
  font-size: 110%;
  box-shadow: 1px 1px 2px 2px black;
}
.led {
   background: rgb(220, 175, 31);
  border: 0;
  border-radius: 3%;
  font-weight: 900;
  text-align: center;
  font-family: papyrus;
  font-size: 90%;
  width: 100px;
  box-shadow: 1px 1px 2px 2px black;
}
.crit-selec {
    background-image: linear-gradient(black, brown,white);
}
.led4 {
   text-align: center;
  justify-items: center;
   border: 0;
  height: 40px;
  border-radius: 3%;
  font-weight: 900;
  text-align: center;
  background-color: brown;
  color: white;
  font-family: papyrus;
  font-size: 130%;
  box-shadow: 1px 1px 2px 2px black;
}
.pifias {
    display: inline-grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  gap: 7px;
}
.pif-hdr {
  cursor: pointer;
  font-size: 1.3em;
  background-color: white;
    box-shadow: 0px 0px 5px 1px black;
    border: 2px groove black;
   text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

